/node_modules
/public/hot
/public/storage
/public/estatement/contractor*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/dealer_statement
/public/receipt